{erl_opts, [fail_on_warning,                                                    
            warn_export_all]}.
%{xref_checks, [undefined_function_calls]}.
%{xref_checks, []}.
%{xref_checks, [undefined_function_calls, undefined_functions, locals_not_used, exports_not_used, deprecated_function_calls, deprecated_functions]}.
{xref_checks, [undefined_functions, locals_not_used, exports_not_used, deprecated_function_calls, deprecated_functions]}.

{cover_enabled, true}.
{clean_files, ["ebin/*", ".eunit/*"]}.

