body {
  padding: 5px;
  background-image: -webkit-radial-gradient(center top, ellipse farthest-corner, #FFFFFF 0%, #F8F4F0 100%);
  background-image: radial-gradient(ellipse farthest-corner at center top, #FFFFFF 0%, #F8F4F0 100%);
}
* {
  color: #606655;
}

pre {
  margin: 5px;
  padding: 5px;
  background: #F4F4F2;
  box-shadow: -1px -1px 2px 2px rgba(255,255,255,0.4) inset;
}
code {
  color: #444444;
}

h1,h2,h3,h4,h5 {
	border-bottom: 3px solid #884444;
}

hr {
border:none;
border-top:dashed 1px #AA0000;
height:1px;
}